.camlist {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  width: 100%;
  border-style: solid;
  z-index: 1;

  .ctb {
    display: flex;
    justify-content: center;
    background-color: #2b3f6b;
    width: 4rem;
    height: 100%;
  }
}
