.save {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 3%;
  :hover {
    cursor: pointer;
  }

  img {
    width: 3rem;
    height: 3rem;
    // animation: rotate_image 3s linear infinite;
    // transform-origin: 50% 50%;

    // @keyframes rotate_image {
    //   100% {
    //     transform: rotate(360deg);
    //   }
    // }
  }
}
