hr {
  margin: 0px;
}

.bbar {
  // position: fixed;
  top: 0;
  left: 4.5rem;
  height: 100vh;
  width: 25rem;
  background-color: #e6e9ef;
  padding: 0 1.5rem;

  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.75rem 0rem;
    .bbar__header {
      // margin: 0.75rem 0rem;

      &__title {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        // margin: 8px;
        font-size: 1.5rem;
        font-weight: bold;
      }
      &__date {
        font-weight: normal;
      }
    }
    i {
      font-size: 2rem;
    }
  }

  &__menu {
    margin-top: 1.5rem;
  }
}
