.resultitem {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  margin-bottom: 16px;

  //   display: flex;
  //   flex-direction: column;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // font-size: 24px;
    // font-style: bold;
    .title_namecategory {
      display: flex;
      align-items: center;
    }
    .title_name {
      font-size: 1.25rem;
      font-weight: bold;
      margin-right: 0.5rem;
    }
    .title_category {
      color: grey;
    }
    .box {
      border: black;
      font-size: 1.5rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    * {
      margin: 4px;
    }
    .content_easyaddress {
      color: grey;
    }
    .content_phone {
      display: flex;
      align-items: center;
    }
  }
  &__photo {
    display: flex;
    margin: 16px 0px;

    &__item {
      background-color: grey;
      border-radius: 8px;
      margin: 8px;
      height: 96px;
      width: 96px;
    }
  }
}
