.box_title {
  background-color: #f5f5f5;
  width: 4rem;
  height: 1.5rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  margin-top: 2rem;
  text-align: center;
}

.box_content {
  background-color: #f5f5f5;
  border-radius: 0rem 0.5rem 0.5rem 0.5rem;
  min-height: 8rem;
  text-align: center;
  padding: 1rem 1rem 0rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
