.item_body {
  display: flex;
  width: 9.5rem;
  height: 2.5rem;
  margin-bottom: 1rem;
  cursor: pointer;

  .item_tag {
    width: 2rem;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    position: relative;
  }

  .item_box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    width: 100%;
    // text-align: left;
    &:hover + .hover_box {
      display: block;
    }
    .item_title {
      margin-left: 0.5rem;
      width: 7rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      z-index: 1;
    }
    button {
      position: absolute;
      right: 0;
      top: 0;
      margin-right: 0.25rem;
      border: none;
      background-color: white;
      font-size: 0.5rem;
      &:hover {
        transform: scale(1.7);
      }
    }

    &_click {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      // text-align: left;
      border-radius: 0rem 0.5rem 0.5rem 0rem;
      width: 100%;
      background-color: #fdf2bc;
      .item_title {
        margin-left: 0.5rem;
        width: 7rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        z-index: 1;
      }
      button {
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 0.25rem;
        border: none;
        background-color: #fdf2bc;
        font-size: 0.5rem;
        &:hover {
          transform: scale(1.7);
        }
      }
    }
  }
  .hover_box {
    display: none;
    // position: absolute;
    position: relative;
    top: 0;

    width: 100%;
  }
  //   &:hover {
  //     display: block;
  //     position: relative;
  //     background-color: rgba(0, 0, 0, 0.5);
  //   }
  // }

  // .item_title_click {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   background-color: #fdf2bc;
  //   border-radius: 0rem 0.5rem 0.5rem 0rem;
  //   width: 100%;
  // }
}

.clicked {
  background-color: black;
  color: white;
}
