.ctblist {
  display: flex;
  align-items: center;
  margin: 8px 0;

  &__item * {
    font-size: 32px;
    // justify-content: center;
    // text-align: center;
    color: #f3f3f3;
    margin: 4px;
  }
}
