.ctblist {
  display: flex;
  align-items: center;
  // height: 100%;
  margin: 0.5rem 0;

  &__item * {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #f3f3f3;
    margin: 0.25rem;
  }
}
