.chat_section {
  // background-color: rgb(239, 246, 247);
  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 8px;
  overflow: auto;
  height: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;

  &::-webkit-scrollbar {
    width: 0.5rem; /* 스크롤바의 너비 */
    background-color: #e3e3e3;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
  }
  i {
    font-size: 1.75rem;
  }
  .chat_message_section_you {
    word-break: break-all;
    display: inline-block;
    background: #e0e0e0;
    border-radius: 0px 22px 22px 22px;
    max-width: 70%;
    text-align: left;
    padding: 10px;
    margin-bottom: 0.5rem;
  }

  .chat_message_section_me {
    word-break: break-all;
    display: inline-block;
    background: #ffdb81;
    border-radius: 22px 0px 22px 22px;
    max-width: 70%;
    padding: 10px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    float: right;
    p {
      color: #3e3e3e;
    }
  }
}
