.chat_title {
  .title_title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  // height: 200px;
  // width: 200px;

  p {
    color: grey;
    font-size: 1rem;
  }
}

.chat_body {
  background-color: rgb(224, 254, 76);
  height: 83vh;
}
