.chat_input_button {
  display: flex;
  margin-top: 1rem;
  width: 100%;

  input {
    width: 100%;
    border: none;
    padding: 0.25rem;
    border-radius: 0.5rem;
  }
  input:focus {
    // outline: none !important;
    outline-color: #ffd56b;
    // border-color: #2b3f6b;
    // box-shadow: 0 0 10px #2b3f6b;
  }

  button {
    margin-left: 1rem;
    background-color: #2b3f6b;
    border: none;
    width: 56px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all ease-i/n 0.4s;
  }

  button:hover {
    transform: scale(1.1);
  }
}
