.chat_title {
  padding-top: 0;

  .title_title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  p {
    color: grey;
    font-size: 1rem;
    word-break: keep-all;
  }
}

.chat_body {
  height: 93%;
}
