.roomlayout {
  display: flex;
  flex-direction: row;
  .map_camlist {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow: hidden;
  }
}
