.item_body {
  display: flex;
  width: auto;
  height: 3.5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;

  .item_tag {
    width: 4rem;
    background-color: #ffd56b; // dayColor에 따라 달라져야 함
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    i {
      margin-top: 1rem;
      font-size: 1.5rem;
      color: #ffffff;
    }
  }

  .item_title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    width: 100%;
    h3 {
      font-size: 1rem;
      font-weight: bold;
      text-align: left;
    }
  }
}

.clicked {
  background-color: black;
  color: white;
}
