.box_content {
  background-color: #f5f5f5;
  border-radius: 0rem 0.5rem 0.5rem 0.5rem;
  min-height: 10.5rem;
  text-align: center;
  padding: 1rem 2rem 0rem 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .box_content_empty {
    margin-top: 1rem;
    p {
      color: grey;
      font-size: 0.9rem;
      font-weight: lighter;
    }
  }
}
