.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #f5f5f5 42.1%, white 40%);
  height: 100vh;

  &__bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 60vh;
    border-radius: 1.5rem;
    background-color: #2b3f6b;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08), 0 4px 4px rgba(0, 0, 0, 0.12),
      0 8px 8px rgba(0, 0, 0, 0.16), 0 16px 16px rgba(0, 0, 0, 0.2);
  }
  &__main {
    display: flex;
    width: 70vw;
    height: 50vh;
    background-color: white;

    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40vw;
      background-color: #f5f5f5;
      i {
        font-size: 10rem;
      }
    }

    &__signin {
      display: flex;
      flex-direction: column;
      width: 60vw;
      justify-content: center;
      padding-left: 8rem;
      h1 {
        font-size: 2rem;
      }
      &__position {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        &__in {
          width: 19vw;

          p {
            font-size: 1.2rem;
            margin-top: 1.5rem;
          }

          input {
            border: 0;
            // width: 19vw;
            height: 3rem;
            padding: 1rem;
            font-size: 1rem;
            &::placeholder {
              color: #a4a4a4;
            }
          }
        }

        button {
          margin-top: 3rem;
          width: 10rem;
          height: 10rem;
          background-color: #ffd56b;
          border: 0;
          color: white;
          border-radius: 0.5rem;
          font-size: 2.5rem;
          font-weight: bold;
        }
      }
      .id_save {
        width: 2rem;
        font-size: 1.5rem;
        margin-right: 0.5rem;
      }
      label {
        display: flex;
        align-items: center;
        width: 19vw;
        margin-bottom: 3rem;
        // .id_pw_find
        a {
          margin-left: 2rem;
          text-decoration: underline;
        }
      }
      .member_check {
        display: flex;
        justify-content: space-between;
        margin-right: 5rem;
        span {
          display: flex;
          align-items: center;
        }
        a {
          text-decoration: underline;
          margin-left: 1rem;
        }
        img {
          border-radius: 0.5rem;
          width: 2.5rem;
          height: 2.5rem;
          margin: 0 0.5rem;
        }
      }
    }
  }
}
