.room_manageitem {
  background-color: #fdfdfd;
  margin-bottom: 1.3rem;
  margin-right: 1.3rem;
  width: 31%;
  height: 45%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  transition: ease-in-out 0.2s;

  .title_section {
    display: flex;
    justify-content: space-between;
    background-color: #2b3f6b;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    // padding: 1rem;
    .title {
      padding: 0.4rem 0.6rem;
      font-size: 1.1rem;
      // font-weight: bold;
      color: white;
    }
    .date {
      padding: 0.4rem 0.6rem;
      font-size: 1.1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: white;
      font-family: 500;
    }
  }

  .content_section {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    .created_at {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .participants {
      font-size: 1.2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .button_section {
    margin-top: 1rem;
    // margin-bottom: 0.5rem;
    display: flex;
    justify-content: flex-end;

    .button_remove {
      font-size: 1.1rem;
      border: none;
      padding: 0.5rem;
      border-radius: 0.5rem;
      background-color: rgb(229, 228, 228);
      color: black;
      transition: ease-in 0.2s;
    }

    .button_remove:hover {
      background-color: rgb(199, 198, 198);
    }

    .button_enter {
      // max-width: 1.5rem;
      font-size: 1.1rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      border: none;
      padding: 0.5rem;
      border-radius: 0.5rem;
      background-color: #ffd56b;
      transition: ease-in 0.2s;
    }

    .button_enter:hover {
      background-color: rgb(255, 173, 10);
    }
  }
}

.room_manageitem:hover {
  transform: scale(1.05);
}
