.room_manageitem {
  background-color: #fdfdfd;
  margin-top: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  // padding: 1.5rem;
  border-radius: 1rem;
  max-width: 21.5rem;
  max-height: 13rem;

  .title_section {
    display: flex;
    justify-content: space-between;
    // padding: 1rem;
    .title {
      padding: 0.5rem;
      font-size: 1rem;
      font-weight: bold;
    }
    .date {
      padding: 0.5rem;
      font-size: 1rem;
    }
  }

  .content_section {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    \ .created_at {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    .participants {
      font-size: 1rem;
    }
  }

  .button_section {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: flex-end;

    .button_remove {
      font-size: 0.75rem;
      border: none;
      padding: 0.5rem;
      border-radius: 1rem;
      background-color: #2b3f6b;
      color: white;
    }
    .button_enter {
      // max-width: 1.5rem;
      font-size: 0.75rem;
      margin-left: 0.5rem;
      margin-right: 1.5rem;
      border: none;
      padding: 0.5rem;
      border-radius: 1rem;
      background-color: #ffd56b;
    }
  }
}
