// @font-face {
//   /* 사용할 폰트의 이름 */
//   font-family: 'NanumBarunGothic';
//   src: url('./app/assets/fonts/NanumBarunGothic.ttf');
//   font-weight: 400;
//   /* font-style: normal; */
// }

@font-face {
  // font-family: 'NanumBarunGothic';
  font-family: 'NotoSans';
  src: url('./app/assets/fonts/NotoSansKR-Medium.otf');
  /* 영어와 숫자는 NotoSans로 적용한다.*/
  // unicode-range: U+0041-005A, U+0061-007A;
  // // 숫자 유니코드 : U+0030-0039
}

@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'NotoSans';
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  color: #000;
  box-sizing: border-box;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

button {
  &:hover {
    cursor: pointer;
  }
}

/* =========================== */
/* =                         = */
/* =      여백 초기화        = */
/* =                         = */
/* =========================== */
body,
div,
ul,
li,
dl,
dd,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
table,
th,
td,
tr,
textarea,
button,
form,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}
