.abar {
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 72px;
  background-color: #f5f5f5;

  &__logo {
    display: grid;
    place-items: center;
    margin: 12px;
    width: 48px;
    height: 48px;
    font-size: 1rem;
    font-weight: 700;
  }

  &__menu {
    position: relative;
    margin-top: 40px;

    &__item {
      // display: flex;
      // align-items: center;
      // place-content: flex-start;
      text-align: center;
      padding: 16px 0px;
      // margin: 32px 0px;
      color: #2b3f6b;
      // transition: color 0.3s ease-in-out;

      &.active {
        color: #fff;
      }

      &__icon {
        i {
          font-size: 1.5rem;
        }
      }
      &__text {
        font-size: 0.75rem;
      }
    }
  }
}
