.sidebar {
  display: flex;
  // width: 29.5rem;
  height: 100%;
}

.abar {
  margin: 0px;
  padding: 0px;

  top: 0;
  left: 0;
  height: 100vh;
  width: 4.5rem;
  background-color: #f5f5f5;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.75rem;
    width: 3rem;
    height: 3rem;
    font-size: 1rem; // logo image나올경우 삭제
    font-weight: bold; // logo image나올경우 삭제
  }
  .abar__menu {
    margin-top: 3rem;
  }

  .abar__menu a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .abar__menu__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 1rem;
      width: 3.5rem;
      height: 3.5rem;
      text-align: center;

      &__icon {
        i {
          font-size: 1.5rem;
        }
      }
      &__text {
        font-size: 0.75rem;
      }
    }
  }

  .abar__menu a.active {
    .abar__menu__item {
      width: 3.5rem;
      height: 3.5rem;
      background-color: #2b3f6b;
      border-radius: 0.5rem;
      * {
        color: white;
      }
    }
  }
}
