.vote_title {
  .title_title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  // height: 200px;
  // width: 200px;

  p {
    color: grey;
    font-size: 1rem;
  }
}

.vote_body {
  // background-color: #e6e9ef;
  background-color: #f5f5f5;
  border-radius: 8px;
  // padding: 16px 16px 0px 16px;
  // height: 30rem;
  height: 81vh;

  .vote_body_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    p {
      font-size: 1.25rem;
    }
    i {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      width: 2rem;
      height: 2rem;
    }
    i:hover {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(255, 243, 156);
      border-radius: 0.5rem;
      width: 2rem;
      height: 2rem;
    }
  }
}

.swal2-input {
  width: 300px;
}
