.item_box {
  height: auto;
  background-color: white;
  border-radius: 0.5rem;
  margin-bottom: 20px;

  .item_box_title {
    display: flex;
    padding: 0.5rem;
    h3 {
      font-size: 1.25rem;
    }
  }
}

.item_box_content {
  padding: 0 2rem 0 2rem;
  input {
    margin-right: 1rem;
  }
  p {
    font-size: 1rem;
  }
  label {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 1rem 0;

    input {
      width: 30px;
      height: 30px;
      border: 1px;
    }
  }

  .content_div {
    .content_namecount {
      display: flex;
      justify-content: space-between;
    }
    .content_progressbar {
      width: 13rem;
      height: 0.25rem;
      background-color: #c6c6c6;

      .highlight {
        background-color: #2b3f6b;
        height: 100%;
        // height: 0.25rem;
      }
    }
  }
}

.item_box_button {
  text-align: center;

  #doneVote {
    background-color: grey;
  }

  button {
    background-color: #2b3f6b;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 90%;
    margin: 1rem 0 1rem 0;
  }
  .disabled {
    cursor: not-allowed;
  }
}
