.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  height: 100vh;
  // background-image: url('../../../app/assets/images/signup_background.png');
  // background-size: cover;

  // p {
  //   font-weight: bold;
  // }

  &__title {
    font-size: 4.5rem;
    font-weight: bold;
    color: #2b3f6b;
    margin-bottom: 3rem;
  }

  &__id {
    .input_wrap {
      height: 7rem;

      input {
        width: 28rem;
        height: 3.5rem;
        font-size: 1.5rem;
        // border-color: #f5f5f5;
        border: none;
        background-color: white;
        // background-color: #e6e9ef;
        border-radius: 0.5rem;
        &:focus {
          outline-color: #2b3f6b;
        }
        padding: 1rem;
      }
      label {
        position: relative;
        .id_check {
          position: absolute;
          width: 2.5rem;
          height: 2.5rem;
          font-size: 1rem;
          z-index: 1;
          top: -42%;
          right: 2%;
        }
      }

      p {
        margin-bottom: 0.5rem;
      }
      .invalid_input:focus {
        outline-color: red;
        // background-color: red;
      }
      .invalid_message {
        font-size: 0.75rem;
        color: red;
      }
      .invalid_input {
        border: solid;
        border-width: 0.15rem;
        border-color: red;
      }
      .correct_input:focus {
        outline-color: green;
      }
      .correct_message {
        font-size: 0.75rem;
        color: green;
      }
      .correct_input {
        border: solid;
        border-width: 0.15rem;
        border-color: green;
      }
    }
  }

  button {
    background-color: #2b3f6b;
    border-radius: 0.75rem;
    color: white;
    width: 28rem;
    height: 4rem;
    font-size: 2rem;
    margin-top: 2rem;
  }
}
